:root {
  --slidev-code-font-size: 14px;
  --slidev-code-line-height: 19px;
}

.mermaid {
  line-height: 1.45em;
}

.slidev-vclick-target {
  transition: opacity 500ms ease;
}

.slidev-vclick-hidden {
  opacity: 0;
  pointer-events: none;
}

.slidev-layout a:hover {
  border-style: none;
  color: none;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-left: 26px;
  margin-top: -12px;
}

.item {
  border: 1px solid #2f2f2f;
  border-radius: 12px;
  padding: 12px;
  height: 100%;
  background-color: #2f2f2f;
  margin: 12px 8px 0 0;
  width: 170px;
  height: 130px;
  opacity: .8;
}

.item:hover {
  transform: scale(1.05);
}

.icon {
  background: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 6px;
  background-color: #242424;
  width: 24px;
  height: 24px;
  font-size: 12px;
}

.title {
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
}

.details {
  padding-top: 0px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(235, 235, 235, .6);
}
